In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('Test_Data.csv')

In [7]:
df.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/2011,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/2011,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/2011,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/2011,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,02-03-2011,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [8]:
df.shape

(9134, 24)

In [11]:
for i in df.columns:
    print(i,":",sum(df[i].isnull()))

Customer : 0
State : 0
Customer Lifetime Value : 0
Response : 0
Coverage : 0
Education : 0
Effective To Date : 0
EmploymentStatus : 0
Gender : 0
Income : 0
Location Code : 0
Marital Status : 0
Monthly Premium Auto : 0
Months Since Last Claim : 0
Months Since Policy Inception : 0
Number of Open Complaints : 0
Number of Policies : 0
Policy Type : 0
Policy : 0
Renew Offer Type : 0
Sales Channel : 0
Total Claim Amount : 0
Vehicle Class : 0
Vehicle Size : 0

In [27]:
y=df.iloc[:,2]
x=df.iloc[:,1:23]
x=x.drop(['Customer Lifetime Value'],axis=1)
x=x.drop([''])

In [28]:
x.head()

,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,...,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class
0,Washington,No,Basic,Bachelor,2/24/2011,Employed,F,56274,Suburban,Married,...,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car
1,Arizona,No,Extended,Bachelor,1/31/2011,Unemployed,F,0,Suburban,Single,...,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car
2,Nevada,No,Premium,Bachelor,2/19/2011,Employed,F,48767,Suburban,Married,...,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car
3,California,No,Basic,Bachelor,1/20/2011,Unemployed,M,0,Suburban,Married,...,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV
4,Washington,No,Basic,Bachelor,02-03-2011,Employed,M,43836,Rural,Single,...,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car

In [21]:
x.dtypes

State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
dtype: object

In [29]:
from sklearn import preprocessing
lb = preprocessing.LabelEncoder()
x.dtypes

State                             object
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
dtype: object

In [52]:
for i in x.columns:
    if(x[i].dtype=='object'):
        x[i]=lb.fit_transform(x[i])

In [53]:
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train,Y_test = train_test_split(x,y, test_size=0.2,random_state=0)

In [54]:
from xgboost import XGBClassifier
model = XGBClassifier()
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)

In [69]:
Y_test=np.array(Y_test)
y_pred=np.array(y_pred)

In [70]:
sum=0
for i in range(len(y_pred)):
    sum+=(y_pred[i]-Y_test[i])**2
print(sum)

24514279767.53703

In [71]:
sum=sum/len(y_pred)
sum=sum**0.5
print(sum)

3663.028480716502